/node_modules/
/tmp/*

# OSX specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# SublimeText
*.sublime-workspace

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# SASS
*.sass-cache

# Archives etc.
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm